* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
.container {
  width: 90%;
  margin: auto;
}
header {
  background-color: #183153;
  height: 60px;
  color: #ffff;
  line-height: 60px;
}
#icon {
  display: flex;
  flex-wrap: wrap;
}
#icon > div {
  flex-basis: calc(100% / 6 - 40px);
  background-color: lightgray;
  margin: 20px;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5)
}
#icon > div i {
  font-size: 40px;
  padding: 20px;
}
